<!DOCTYPE html>
<html lan="en">
    <head>
        <title>Eat Da Burger</title>
        <meta charset="UTF-8">
        {{!-- Bootstrap --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/script.js"></script>
    </head>
    <body>
        {{{body}}}

    </body>
</html>